html, body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 600px;
    border: 2px solid #009fff;
    background-color: #ffece5;
}

.bordered {
    border: 2px solid #009fff;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.back {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    height: 500px;
    justify-content: center;
}

.ranking {
    width: 650px;
    margin-right: 1rem;
    background: #f8f8f8;
    height: 500px;
}

button {
    border-color: #f1ae2d;
    width: 150px;
    height: 30px;
    background: #f19e0d;
}

button:hover {
    background-color: #f1be18;
    border-color: #f1c321;
}